<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pool Chummy - @ViewBag.Title</title>
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/theme/styles")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body data-spy="scroll">

<div class="container">
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        @*<li class="gn-search-item">
                            <input placeholder="Search" type="search" class="gn-search off-left-10">
                            <a class="gn-icon gn-icon-search"><span>Search</span></a>
                        </li>*@
                        <li><a href="@Url.Action("Table", "UserInfo", new {Area = "Common"})"> <span class="fa fa-cubes off-left-20"></span> <span class="off-left-20">Classement</span></a></li>
                        <li><a href="@Url.Action("AllInOne", "UserInfo", new {Area = "Common"})"> <span class="fa fa-users off-left-20"></span> <span class="off-left-20">Tout en un</span></a></li>
                        <li><a href="@Url.Action("Injured", "PlayerInfo", new {Area = "Common"})"> <span class="fa fa-ambulance off-left-20"></span> <span class="off-left-20">Les Blesses</span></a></li>
                        <li><a href="@Url.Action("Undrafted", "PlayerInfo", new {Area = "Common"})"> &nbsp;<span class="fa fa-blind off-left-20"></span> <span class="off-left-20"> Agents Libres</span></a></li>
                        <li><a href="@Url.Action("LeagueLeaders", "PlayerInfo", new {Area = "Common"})"> <span class="fa fa-bar-chart off-left-20"></span> <span class="off-left-20">Meneur LNH</span></a></li>
                        <li><a href="@Url.Action("BestOfRound", "UserInfo", new {Area = "Common"})"> <span class="fa fa-star off-left-20"></span> <span class="off-left-20">Meilleur de Ronde</span></a></li>
                        <li><a href="@Url.Action("AllInOneLastYear", "PoolLastYear", new {Area = "Common"})"> <span class="fa fa-sort-amount-asc off-left-20"></span> <span class="off-left-20">Pool 2015/16</span></a></li>
                        <li><a href="@Url.Action("Table", "UserInfo", new {Area = "Common"})"> <span class="fa fa-info off-left-20"></span> <span class="off-left-20"> &nbsp; &nbsp; Information</span></a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("CreateAllPlayerInfo", "Tasks", new {Area = "Admin"})"> <span class="fa fa fa-refresh off-left-20"></span> <span class="off-left-20">New Player Info</span></a></li>
                            <li><a href="@Url.Action("PlayerUserStatsUpdater", "Tasks", new {Area = "Admin"})"> <span class="fa fa fa-refresh off-left-20"></span> <span class="off-left-20">Update player/user - no api</span></a></li>
                            <li><a href="@Url.Action("FrequentPlayerUserStatsUpdater", "Tasks", new {Area = "Admin"})"> <span class="fa fa fa-refresh off-left-20"></span> <span class="off-left-20">Frequent Update all (no ppi/no inj)</span></a></li>
                            <li><a href="@Url.Action("DailyFullUpdater", "Tasks", new {Area = "Admin"})"> <span class="fa fa fa-refresh off-left-20"></span> <span class="off-left-20">Daily Full Updater with ppi</span></a></li>
                            <li><a href="@Url.Action("ClearCache", "Tasks", new {Area = "Admin"})"> <span class="fa fa fa-remove off-left-20"></span> <span class="off-left-20">Clear .Net Caches</span></a></li>
                        }
                    </ul>
                </div><!-- /gn-scroller -->
            </nav>
        </li>
        <li><a href="@Url.Action("Index", "Home", new {Area = "Common"})"><span class="fa fa-home"></span></a></li>
        <li><a href="@Url.Action("Table", "PlayoffUserInfo", new {Area = "Common"})">POOL DES SERIES</a></li>
        <li><a class="last-update" href="@Url.Action("Index", "Home", new {Area = "Common"})">@GetLastUpdate()</a></li>
        <li>
            <ul id="ul-search" class="gn-menu pull-right">
                <li class="news-li"><a href="@Url.Action("Index", "News", new {Area = "Common"})"> <span class="fa fa-info-circle toolbar-right animated bounce"></span> <span class="toolbar-right">Nouvelles LNH</span> </a></li>
                @*<li class="social-facebook"><a href="@Url.Action("Index", "Tasks", new {Area = "Admin"})" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>*@
                @*<li class="gn-search-item">
                    <input placeholder="Rechercher" type="search" class="gn-search off-left-10">
                    <a class="fa fa-2x fa-search pull-right"><span></span></a>
                </li>*@
            </ul>
        </li>
    </ul>
</div>

<section id="main" class="home-section text-center">

    <div >

        <div >
            @RenderBody()
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <p>Copyright &copy; @DateTime.Now.Year Pool Hockey - <a href="http://webdevto.ca/"> Design & Develop by Nick Gaudreau</a>
                </p>
            </div>
            <div class="col-md-6">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</footer>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/theme/script")
@RenderSection("scripts", required: false)
</body>

</html>
@functions
{

    public string GetLastUpdate()
    {
        return "Mise-a-jour: " +  new PoolHockeyBLL.ConfigServices().GetLastUpdate().ToString("F");
    }

}
